@media (max-width: 1199px){
  .inner{
    width:97%;
  }

  .u-inner{
    flex-direction: column;
  }

  .u-text-box{
    padding-bottom: 25px;
  }

  .u-title{
    margin:20px 0 35px 0;
  }

  .w-content{
    flex-direction: column;
  }

  .w-img-box{
    margin:0;
  }

  .w-img-box:nth-child(3n){
    margin-bottom: 80px;
  }

  .w-bottom{
    flex-direction: column;
  }

  .w-content-text{
    margin-right:0;
  }

  .email-btn{
    margin:40px auto 0 auto;
  }

  .s-img-box{
    display: block;
    margin:0 auto 88px auto;
  }

  .s-img-box:last-child{
    margin-bottom: 0;
  }
}

@media(min-width:768px){
  .menu-icon{
    display:none;
  }
}

@media(max-width: 767px ){
  .theme{
    padding:160px 0 130px 0;
  }
  
  .header-nav{
    display:none;
  }
    
  .menu-icon{
    border:solid 1px #ddd;
    border-radius: 4px;
    content:"";
    cursor:pointer;
    display:block;
    float:right;
    padding:10px;
  }
  
  .menu-input{
    display:none;
  }
  
  .menu-span{
    background-color:#ddd;
    display:block;
    height:3px;
    width:25px;
    margin-top:5px;
  }

  .menu-span:first-child{
    margin-top:0px;
  }

  .sns-inner{
    padding:50px 15px;
  }
  .sns-icon{
    width:100%;
  }  
}