body{
  color:#333;
  background-color:#f2f2f2;
  font-family:'Lato';
  font-family:'Raleway';
}

.header{
  background-color:#fff;
  top:0;
  padding:15px 0;
  position:fixed;
  width:100%;
  z-index:1;
}

.clearfix:after{
  display:block;
  content:"";
  clear:both;
}

.inner{
  box-sizing:border-box;
  font-size:0;
  margin:0 auto;
  text-align:center;
  width:1100px;
}

.header-icon{
  font-size:40px;
  float:left;
}

.header-nav{
  float:right;
}

.btn{
  background-color:#74cfae;
  border:none;
  color:#fff;
  cursor:pointer;
  display:inline-block;
  font-size:12px;
  text-decoration: none;
  transition:all .3s;
}

.contact-btn{
  padding:14px 12px;
}

.btn:hover{
  color:#333;
}

.main{
  margin-top:70px;
}

.main-title{
  padding:250px 0;
}

.theme{
  color:#74cfae;
  font-size:90px;
  font-weight:700;
  margin-bottom:20px;
}

.sub-theme{
  color:#c0c0c0;  
  font-size:30px;
}

.utility{
  background-color:#74cfae;
  color:#fff;
  padding-top:50px;
}

.u-inner{
  display:flex;
}

.iphone{
  margin:0 100px;
}

.title{
  font-size:24px;
}

.u-title{
  margin-bottom:35px;
}

.content-text{
  box-sizing:border-box;
  font-size:20px;
  line-height:28px;
}

.latest-work{
  padding:60px 0 70px 0;
}

.w-title{
  margin-bottom:40px;
}

.w-content{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin-bottom:90px;
}

.w-img-box{
  margin:0 100px 80px 0;
  opacity:0.7;
  transition:all 0.3s;
}

.w-img-box:nth-child(3n){
  margin-right:0;
}

.w-img-box:nth-last-child(-n+3){
  margin-bottom:0;
}

.w-img-box:hover{
  opacity:1;
}

.w-bottom{
  align-items:start;
  display:flex;
  margin:0 90px;
}

.w-content-text{
  margin-right:90px;
}

.email-btn{
  padding:14px 20px;
  white-space:nowrap;
}

.our-skills{
  background-color:#4e4e4e;
  color:#fff;
  padding:70px 0 100px 0;
}

.s-title{
  margin-bottom:70px;
}

.s-img-box{
  display:inline-block;
  margin-right:180px;
}

.s-img-box:last-child{
  margin-right:0;
}

.s-img{
  margin-bottom:20px;
}

.s-img-text{
  font-size:16px;
}

.sns{
  padding:200px 0;
}

.sns-icon{
  color:#74cfae;
  cursor:pointer;
  display:inline-block;
  font-size:50px;
  padding:30px 0;
  width:185px;
  transition:all .3s;
}

.sns-icon:hover{
  background-color:#fff;
}

.footer{
  background-color:#74cfae;
  color:#fff;
}

.footer-inner{
  padding:20px 0 25px 0;
  text-align:right;
}

.footer-text{
  font-size:16px;
}

@media (max-width: 1199px){  
  .inner{
    width:97%;
  }

  .u-inner{
    flex-direction: column;
  }

  .u-text-box{
    padding-bottom: 25px;
  }

  .iphone{
    margin:0 auto 20px auto;
  }

  .w-content{
    flex-direction: column;
  }

  .w-img-box{
    margin:0;
  }

  .w-img-box:nth-child(3n){
    margin-bottom: 80px;
  }

  .w-bottom{
    flex-direction: column;
  }

  .w-content-text{
    margin:0 auto;
  }

  .email-btn{
    margin:40px auto 0 auto;
  }

  .s-img-box{
    display: block;
    margin:0 auto 88px auto;
  }

  .s-img-box:last-child{
    margin-bottom: 0;
  }
}

@media(min-width:768px){
  .menu-icon{
    display:none;
  }
}

@media(max-width:767px){
  .header-nav{
    display:none;
  }

  .menu-icon{
    float:right;
  }

  .menu-input{
    display:none;    
  }
  
  .menu-open{
    border:solid 1px #ddd;
    border-radius: 4px;
    cursor:pointer;
    display:block;
    padding:10px;
  }
  
  .menu-span{
    background-color:#ddd;
    display:block;
    height:3px;
    width:25px;
    margin-top:5px;
  }
  
  .menu-span:first-child{
    margin-top:0px;
  }
  
  .main-title{
  padding:160px 0 130px 0;
  }

  .w-bottom{
    margin:0 auto;
  }

  .sns{
    padding:0;
  }

  .sns-inner{
    padding:50px 15px;
  }

  .sns-icon{
    width:100%;
  }  
}